## Задания по семинару 2

В ячеке под заданием приведите его решение. Для заданий, рассмотренных на семинаре, можете использовать решение полученное на занятии.

-----

0) Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

In [2]:
a=2**11

In [3]:
a

2048

1) Наибольшим количеством способов создать строковую переменную, содержащую текст:

It's "quoted string"

In [52]:
print('It \'s "quoted string"')

It 's "quoted string"

In [53]:
print("It's \"quoted string\"")

It's "quoted string"

In [54]:
print(''' It's "quoted string" ''')

 It's "quoted string"

2) Наибольшим количеством способов создать строковую переменную, содержащую текст:

line1
line2
line3

In [60]:
sw = "line1 \nline2\nline3" 
sw.split("\n")

['line1 ', 'line2', 'line3']

In [61]:
sw = "line1 line2 line3" 
sw.split()

['line1', 'line2', 'line3']

In [63]:
'line1\nline2\nline3'.splitlines()

['line1', 'line2', 'line3']

3) Наибольшим количеством способов создать строковую переменную, содержащую текст:

\\\\

\\\

\\

\

In [59]:
a=' \\\\\\\ \n \\\\\ \n \\ \n \ ' 
print(a)

 \\\\
 \\\
 \
 \

4) Вывести 5й с начала и 5й с конца символ из строки 'Hello world'

In [48]:
n='Hello world'
n[4]

'o'

5) Двумя способами получить символ 'w' из строки 'Hello world'

In [49]:
n='Hello world'
n[-5]

'w'

6) Вывести символ, находящийся в середине заранее неизвестной строки, полученной с помощью функции input().

Пример использования функции input:

In [1]:
# поместить строку, введенную пользователем, в переменную st
st = input()

7) Для строки 'Light ray' двумя способами получить подстроку с 1го по 4й символы включительно.

In [51]:
n='lightray'
n[0:4]

'ligh'

8) Для строки 'My new text' двумя способами получить подстроку с 3го по 7й символы включительно.

In [54]:
n='My new text'
n[2:6]

' new'

9) Получить подстроку из последних 4х символов строки 'Light ray'.

In [56]:
n='light ray'
n[-4:]

' ray'

10) Составить строку из всех четных символов строки 'Light ray'.

In [65]:
n='light ray'
n[1::2]

'ih a'

11) Составить строку из всех нечетных символов строки 'Light ray'.

In [66]:
n='light ray'
n[::2]

'lgtry'

12) Инвертировать (получить строку с обратной последовательностью символо) строку  'Light ray'.

In [67]:
n='light ray'
n[::-1]

'yar thgil'

13) Вывести c третьего с начала до предпоследнего символа заранее низвестной строки, полученной с помощью функции input().

In [69]:
st = input()
st[2:-1]

hgjdyttryr

'jdyttry'

14) Получить подстроку неизвестной заранее строки, содержащую половину символов строки и расположенную по середине строки.

In [88]:
st = input()
hh=(len(st)-len(st)%4)
v=hh-1
m=hh*3-1
st[v:m:1]

asdf

'f'

15) Проверить, содержит ли произвольная строка, прочитанная в обратную сторону последовательность 'eno'

In [89]:
st = input()
st[::-1]
'eno' in st

asdheno

True

16) Получить строку, начинающуюся с последних 3 символов стркои 'Light ray', а заканчивающуюся подстрокой с 1го до 4го  символа строки.

In [94]:
n='light ray'
a=n[0:4]
b=n[::-1]
g=b[0:3]
print (g,a)

yar ligh

17) Коротко записать создание строки 'oneoneoneoneoneonetwotwotwo'

In [53]:
n=6*'one'+3*'two'
n

'oneoneoneoneoneonetwotwotwo'

18) Разбить строку на список из строк, состоящих только из названий чисел.

In [3]:
st = '  one,two,three,four,five,six,seven,eight,nine,ten   '
st.split()

['one,two,three,four,five,six,seven,eight,nine,ten']

19) Вставить между всеми символами строки 'Hello world' стрелочку '->' и сохранить результат в строковой переменной.

Ожидаемый результат:

H->e->l->l->o-> ->w->o->r->l->d

In [10]:
af='Hello world'
for i in af:
    if i!='d':
        print(i,  end="->")
    else :
        print (i)

H->e->l->l->o-> ->w->o->r->l->d

20) Для двух произвольных строк провести сравнение на совпадение содержимого без учета регистра букв и начальных и конечных пробельных символов.

Например, для двух строк

In [3]:
st1 = '  HeLLO WOrlD'

In [4]:
st2 = 'hello WORLD  '

такое сравнение должно возвращать True (содержание строк совпадает).

In [24]:
s1 = '  HeLLO WOrlD'
s2 = 'hello WORLD  '
if s1.split==s2.split:
    print('True')
else:
    print('False')

False

21) В строке 'hello hello Hello hello' найти индекс второго вхождения подстроки 'hel'

In [12]:
sf='hello hello Hello hello'
sf.index('hel',2)

6

22) В строке 'hello hello Hello hello' найти индекс второго С КОНЦА вхождения подстроки 'hel'

In [15]:
sf='hello hello Hello hello'
sf.rfind('hel',2)

18

23) Из заранее неизвестной строки вырезать подстроку, начинающуюся с 'he' и заканчивающееся 'on'. Протестировать на строке

    start hello python world

24) Используя цикл for и функцию enumerate() (см. лекцию 2) вывести произвольную строку на экран и при этом убрать все пробелы и на их месте вывести номер слова по счету

Пример.

Исходная строка:

a= hello hello Hello hello
for i in enumerate(a)
print(i)

In [1]:
a='hello hello Hello hello'
for i in enumerate(a):
          print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'h')
(7, 'e')
(8, 'l')
(9, 'l')
(10, 'o')
(11, ' ')
(12, 'H')
(13, 'e')
(14, 'l')
(15, 'l')
(16, 'o')
(17, ' ')
(18, 'h')
(19, 'e')
(20, 'l')
(21, 'l')
(22, 'o')

выведено на экран:

hello1hello2Hello3hello4

25) Сформировать строку форматирования, которая для вызова

format('val1', 'val2', 'val3')

будет возрващать следующий результат:

val3-val2-val1-val2-val3

In [2]:
print( 'val3','val2', 'val1',  'val2','val3',sep='-')

val3-val2-val1-val2-val3

26) Сформировать строку форматирования fs, которая при использовании в нижеследующем коде приводит к формированию таблицы, выведенной в следующей ячейке.

In [8]:
print('0123456789' * 4)
fs = '' # задайте тут свою строку форматирования
print(fs.format(453, 59.058, 1, line=1))
print(fs.format(123453, 159.0, 7, line=5))
print(fs.format(-12, -159.099, 16, line=15))
print(fs.format(1200, -1059.099, 255, line=105))

0123456789012345678901234567890123456789

In [6]:
print("""
0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |
""")

0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |